

.jumbotron {
	background:#FFF url('/img/Hack-A-Thon Screen3-01.jpg') center 50px repeat-x;
	color:#fff;
}


@media (min-width: 768px ) { 

	.jumbotron h1 {
		color:#333;
	}
 }
@media (min-width: 992px) { 
	.jumbotron h1 {
		color:#333;
	}
 }