

.jumbotron {
	background:#FFF url('/img/Hack-A-Thon Screen3-01.jpg') center 50px repeat-x;
	color:#fff;
	font-family: 'Roboto Mono';
}
.jumbotron h1 {
	font-weight:100;
	text-shadow:5px 4px 11px #000;
}

.jumbotron p.dates {
	font-size:33px; font-weight:bold;
	font-family: 'Roboto Mono';
	font-weight:100;
	text-shadow:5px 4px 11px #000;

}

.jumbotron h1.HackCountdown {
	font-size:100px;
}
.jumbotron h1.HackFinalCountdown {
	font-size:150px;
	display:none;
}


@media (min-width: 768px ) and (max-width: 991px ) { 

	.jumbotron h1 {
		color:#333;
		font-size:63px;
	}
	.jumbotron p {
		color:#333;
	}

	.jumbotron h1.HackCountdown {
		font-size:60px;
	}
	.jumbotron h1.HackFinalCountdown {
		font-size:60px;
		display:none;
	}
 }
/*@media (min-width: 992px) { 
	.jumbotron h1 {
		color:#333;
	}
 }*/