
.btn-primary {
	background-color: red;
}

.jumbotron {
	background:#FFF url('/img/httf_2018-lp_hero.jpg') center 50px repeat-x;
	background-size: auto 466px;
	color:#fff;
	font-family: 'frank';
}

.jumbotron p.dates {
	font-size:33px; font-weight:bold;
	font-family: 'frank';
	font-weight:100;
	text-shadow:5px 4px 11px #000;

}

.jumbotron h1.HackCountdown {
	font-size:100px;
	font-weight:100;
	text-shadow:5px 4px 11px #000;
	font-family: 'Roboto Mono';
}
.jumbotron h1.HackFinalCountdown {
	font-weight:100;
	text-shadow:5px 4px 11px #000;
	font-size:150px;
	display:none;
	font-family: 'Roboto Mono';
}


 h1.HackCountdown {
	font-size:100px;
	font-weight:100;
	font-family: 'Roboto Mono';
	margin-top:0px;
}
 h1.HackFinalCountdown {
	font-weight:100;
	font-size:150px;
	display:none;
	font-family: 'Roboto Mono';
	margin-top:0px;
}


@media (min-width: 768px ) and (max-width: 991px ) { 

	.jumbotron h1 {
		color:#333;
		font-size:63px;
	}
	.jumbotron p {
		color:#333;
	}

	.jumbotron h1.HackCountdown {
		font-size:60px;
	}
	.jumbotron h1.HackFinalCountdown {
		font-size:60px;
		display:none;
	}
 }
/*@media (min-width: 992px) { 
	.jumbotron h1 {
		color:#333;
	}
 }*/
